// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
$orange: #e49e06;
$grey: #959595;

@include media-breakpoint-down(lg) {
  .reduceimage{
    width: 50vh;
  }

}
@include media-breakpoint-down(md) {
  .row{
    justify-content: start;

  .card{
    min-width: 50vh;
  }
  }

  button{
    justify-items: baseline;
  }


  .logo{
    margin-left: 1rem;
    margin-right: 0rem;
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .nav-item{
    padding: 0;

  }
  .home-top{
    margin-top: 4rem;
  }
  .page-link{
    font-size: 0.5rem;
    color: $grey;
    background: none;
    border: none;
  }
}

@include media-breakpoint-up(md) {
  .row{
    justify-content: center;

    .card {
      min-width: 50.1vh;
    }
    .collapse{
      align-items: stretch;
    }
  }
  .logo{
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .nav-item{
    padding-bottom: 3rem;
    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .page-link{
    font-size: 1rem;
    color: $grey;
    background: none;
    border: none;
  }
}

@include media-breakpoint-down(lg) {

}

.fontbody{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F4F5F0;
  font-size: 0.7em;
  color: $grey;
  text-decoration: none;
  letter-spacing: .05em;
}



.navbar {
  background-color: #E5EBE9 !important;
  color: #787b66;
  letter-spacing: .075em;
}


.home{
  //background-image: url(../assets/images/bg-nav-selected.png);
  color: #1bb5ac !important;
}
p {

  line-height: 24px;
}

.h3color{
  letter-spacing: 0.05em;
  line-height: 24px;
  color: $orange;
  font-family: antic regular, Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 400;
}




.footer{
//background-image: url("../assets/images/bg-footer.png");
  height: 130px;
  color: #5bdee6;
}

.contact{
  cursor: pointer;
}

//Blog

//accordion

.blogaccordeon{
  text-decoration: none;
}

.archiveh{
  background-color: #E4E4E4;
  color: #627a0e;
  font-family: anticregular,  sans-serif;

}
.card-title{
  font-size: 0.9rem;
  color: $orange;
}

.card{
  background-color: #FAFAF9;
}

.accordion-button{
  color: $orange;
}

li a{
  text-decoration: none;
  color: $grey;
}

li a:hover{
  color: $orange;
}



.page-item.active .page-link{
  z-index: 3;
  color: $orange;
  /* background-color: #0d6efd; */
  /* border-color: #0d6efd; */
}

.page-link:hover{
  color: $orange;
}

@media only screen and (max-width : 999px) {
  .removethisvr {
    display: none;
  }
}
